.container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
   }
   
   .card_container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    &__card {
     min-height: 40%;
     width: 30vw;
     padding: 2em;
     &__paymentOptions {
        padding: .5em;
        border: 1px dashed #D5D5D5;
     }
    }
   }
   