.card {
 padding: 1.5em;
 background-color: #fafafa;
 border: none;
}

.avatar {
 width: 70px;
 height: 70px;
}

.reviewerName {
 font-weight: 600;
 font-size: 17px;
}

.reviewerTitle {
 font-size: 14px;
 color: #848484;
}
