.container {
 height: 100%;
 display: grid;
 grid-template-rows: auto 1fr auto;
}

.card_container {
 justify-content: center;
 align-items: center;
 display: flex;
 flex-direction: column;
 &__card {
  min-height: 40%;
  min-width: 23vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 2em;
  &__inputs {
   display: flex;
   flex-direction: column;
   justify-content: center;
   &.MuiFormControl-root {
       margin-bottom: 1em;
   }
  }
 }
}
